
header{
    padding: 8px 96px;
    nav {
        display: flex;
        justify-content: space-between;

        .left-section, .right-section{
            display: flex;
            align-items: center;
            // gap: 16px;

        }

        ul{
            list-style: none;
            display: flex;
            gap: 24px;

            li{
                text-decoration: none;

                .link{
                    text-decoration: none;
                    color: $default-link-color;

                    &:hover{
                        color: $link-hover;
                    }
                }

                .active-link{
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                    padding: 0px 8px 24px 8px;

                    &:hover{
                        color: inherit;
                    }
                }
            }

        }

        .right-section{
            .icon-links{
                ul{
                    gap: 32px;
                    
                    li{
                        a{
                            padding: 8px;
                            border-radius: $border-radius-full;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover{
                                background-color: $icon-link-hover-color;
                            }
                        }
                    }
                }
            }
        }
             
    }
}

