
header{
    font-family: $font-secondary;

    nav {
        @include flexbox(row, space-between, center);

        .left-section, .right-section{
            @include flexbox(row, start, center);
        }

        ul{
            list-style: none;
            display: flex;
            gap: 1rem;

            li{
                text-decoration: none;

                .link{
                    text-decoration: none;
                    color: $default-link-color;

                    &:hover{
                        color: $link-hover;
                        font-weight: $font-weight-bold;

                    }
                }

                .active-link{
                    color: $primary-color;
                    border-bottom: 0.125rem solid $primary-color;
                    padding: 0 0.5rem 1rem 0.5rem;
                    font-weight: $font-weight-bold;

                    &:hover{
                        color: inherit;
                    }
                }
            }

            @include respond-to(md){
                display: none;
            }
        }

        .right-section{
            .search-container{
                button{
                    border: none;
                    background: none;
                    
                }
            }
            .icon-links{
                ul{
                    li{
                        a{
                            @include flexbox(row, center, center);
                            font-size: $md-font-size;
                            padding: .5rem;
                            border-radius: $border-radius-full;
                            text-decoration: none;

                            &:hover{
                                background-color: $icon-link-hover-color;
                            }
                        }
                    }

                    @include respond-to(lg){
                        display: none;
                    }
                }

                button{
                    display: none;

                    @include respond-to(lg){
                        display: block;
                    }
                }
            }
        }
        
    }
            
    @include respond-to(md){
        padding: .5rem;
    }
}

