
.product-details{
    @include flexbox(row);

    gap: 6.5rem;
    padding-top: 2rem;

    @include respond-to(md){
        gap: 2rem;
    }
    
    @include respond-to(lg){
        @include flexbox(column, start, center);
    }

    .slider-navs{
        @include flexbox(row, space-between, center);   
    }

    .product-img{
        position: relative;

        .slider-navs{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            right: 0;

            button{
                margin: 2rem;
                img{
                    max-width: none;
                }
            }
        }

        img{
            max-width: 100%;
            height: auto;

            @include respond-to(md){
                max-width: 100%;
            }

        }
    }
}

.img-slider{
    @include flexbox(column, start, normal, start);

    width: 83.5rem;
    gap: .5rem;

   
    @include respond-to(sm){
        width: 100%;
    }
    @include respond-to(lg){
        width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.preview-imgs{
    @include flexbox(row, space-between, center, start);
    
    gap: 1.2rem;
    max-width: 37.5rem;
    overflow-x: scroll;

    @include respond-to(lg){
        width: 37.5rem;
    }
    @include respond-to(md){
        width: 100%;
    }

    ::-webkit-scrollbar{
        display: none;
    }
    scrollbar-width: none;

    img{
        border-radius: $border-radius-base;
        // max-width: 6.25rem;
        height: auto;
    }

    .video-thumbnail{
        position: relative;
        .overlay{
            @include flexbox(row, center, center, start);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #0000004a;
            border-radius: $border-radius-base;

            img{
                width: 100%;
                max-width: 1.25rem;
                height: auto;
            }
        }
    }
}
