
.product-meta-data{
    @include flexbox(column);

    width: 100%;
    gap: 1.5rem;

    .price-and-review{
        .price{
            @include flexbox(row, center, start);

            h3{
                color: $red;

                span{
                    text-decoration: line-through;
                    color: $secondary-text-color;
                    font-size: $md-font-size;
                }
            }
        }

        .percentage-tag{
            background-color: $red;
            padding: 0.125rem 0.25rem;
            color: $text-light;
            margin-left: 1rem;
            border-radius: $border-radius-base;
        }
    }

    .price-and-review{
        @include flexbox(row, space-between, start);
    }

    .product-color-varient{
        .color-palette{
            @include flexbox(row, start, start);

            gap: 0.5rem;
            .picker{
                @include flexbox(row, center, center);

                width: 1.625rem;
                height: 1.625rem;
                border: 0.125rem solid $border-color-default;
                border-radius: $border-radius-full;

                .color{
                    width: 1.125rem;
                    height: 1.125rem;
                    border-radius: $border-radius-full; 
                }

                &:nth-child(1) .color{
                    background-color: #E0AEA2;
                }
                &:nth-child(2) .color{
                    background-color: #C0DDED;
                }
                &:nth-child(3) .color{
                    background-color: #FEDE41;
                }
            }

            .active-picker{
                border: 0.125rem solid $primary-color;
            }

            p{
                color: $text-tertiary-color;     
            }
        }

        p{
            margin-bottom: 1rem;
        }

    }

    .select-row{
        width: 100%;

        .size-input-group{
            @include flexbox(row, space-between, center);

            width: 100%;
        }
        button{
            display: inline-flex;
            gap: 0.75rem;
        }

        p{
            margin-bottom: 1rem;
        }
    }

    .action-links{
        @include flexbox(row, space-between, center);

        gap: 1rem;

        button{
            flex: 1;
        }
    }

    .delivery-return-data-section{
        @include flexbox(column, space-between, stretch);

        gap: 1rem;


        .delivery-section{
            border-bottom: 1px solid $border-color-default;

            h6{
                margin-left: 1rem;
            }
            p{
                margin: 0.75rem 0;
            }
        }

        .share-links{
            @include flexbox(row, start, center);

            gap: 1rem;
        }

        .payment-options{
            @include flexbox(row, start, center);
            
            gap: 1rem;
            margin: 1rem 0;
            .payment-container{
                background-color: $surface-bg1;
                border: 0.125rem solid $border-color-default;
                border-radius: $border-radius-base;
                width: 7.5rem;
                min-height: 4rem;
                height: inherit;
                cursor: pointer;
            }
        }

    }

    
}

