
.product-meta-data{
    @include flexbox(column);

    width: 100%;
    gap: 0.5rem;

    form{
        .form-layout{
            margin-top: 1rem;

            .size-btn{
                margin: auto;
                button{
                    text-align: end;
                }
            }
            
        }
        p{
            margin-bottom: 1rem;
        }

        .form-layout {
            @include flexbox(column, normal, normal);
        
            .row {
                @include flexbox(row, normal, normal);

                gap: 1.5rem;   
            
                @include respond-to(md){
                    flex-direction: row;
                    flex-wrap: wrap;
                    }
            
                &:nth-child(3){
                    margin-top: 2rem;
                }
            
                .nested-row{
                    @include flexbox(row, normal, normal);

                    gap: 1.5rem;
                    min-width: 21.75rem;
            
                    @include respond-to(md){
                        min-width: 100%;
                    }
            
                    div:nth-child(2){
                        flex: 1;
            
                        button{
                            width: 100%;
                        }
                    }
                }
            
                .col {
                    flex: 1;
            
                    &.select-col {
                    select {
                        width: 100%;
                    }
                    }
            
                    &.button-col {
                    button {
                        width: 100%;
                        cursor: pointer;
            
                        @media (max-width: 768px) {
                        // margin-bottom: 8px;
                        }
                    }
                    }
                }
            }
        }
    }

    .price-and-review{
        .price{
            @include flexbox(row, center, center);

            h2{
                color: $red;
                margin: 0;
                span{
                    text-decoration: line-through;
                    color: $secondary-text-color;
                    font-size: $md-font-size;
                }
            }
        }

        .percentage-tag{
            background-color: $red;
            padding: .1rem 0.5rem;
            color: $text-light;
            margin-left: 2.5rem;
            border-radius: $border-radius-base;
        }
    }

    .price-and-review{
        @include flexbox(row, space-between, start);
    }

    .product-color-varient{
        .color-palette{
            @include flexbox(row, start, start);

            gap: 0.5rem;

            .picker{
                @include flexbox(row, center, center);

                width: 1.625rem;
                height: 1.625rem;
                border: 0.125rem solid $border-color-default;
                border-radius: $border-radius-full;

                .color{
                    width: 1.125rem;
                    height: 1.125rem;
                    border-radius: $border-radius-full; 
                }   

                
            }

            .active-picker{
                border: 0.125rem solid $primary-color;
            }

            p{
                color: $text-secondary-color;     
            }
        }

        .color-picker {
            @include flexbox(row, normal, center);

            gap: 1rem;
            p{
                margin: 0 !important;
                color: $text-tertiary-color;
                margin-left: .5rem !important;
            }
        }

        .color-picker label {
            cursor: pointer;
            @include flexbox(row, center, center);
        }

        .color-picker input[type="radio"] {
            display: none;
        }

        /* Color boxes */
        .color-box {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: 3px solid #ffffff;
            transition: transform 0.2s, border 0.2s;
            box-shadow: $border-color-default 0px 1px 0px, $border-color-default 0px 0px 0px 2px;
        }

        .color-box.pink {
            background-color: #e0aea2;
        }

        .color-box.blue {
            background-color: #c0dded;
        }

        .color-box.yellow {
            background-color: #fede41;
        }

        /* Highlight selected color */
        .color-picker input[type="radio"]:checked + .color-box {
            border-color: #ffffff;
            box-shadow: $primary-color 0px 1px 4px, $primary-color 0px 0px 0px 1px;
        }

        p{
            margin-bottom: 1rem;
        }

    }

    .form-inputs{
        @include flexbox(column, space-between, normal);
        gap: 2rem;

        margin-top: 1.5rem;

        button{
            font-weight: $font-weight-bold;
        }
    }

    .select-row{
        .size-input-group{
            @include flexbox(row, space-between, center);
        }
        button{
            display: inline-flex;
            gap: 0.75rem;
        }

        p{
            margin-bottom: .5rem;
        }
    }

    .action-links{
        width: 100%;
        @include flexbox(row, start, center, wrap);
        gap: 1.5rem;

        .action-link-btn-grp1{
            width: 21.75rem;
            @include flexbox(row, start, center);
            gap: 1.5rem;
            button{
                flex: 1;
            }
        }

    }

    .delivery-return-data-section{
        @include flexbox(column, space-between, stretch);
        gap: 1rem;

        .delivery-section{
            border-bottom: 1px solid $border-color-default;

            &:nth-child(1){
                margin-top: 2.5rem;
            }

            p{
                margin: 0.75rem 0;
            }
        }

        .share-links{
            @include flexbox(row, start, center);
            gap: .5rem;
            button{
                padding: 0.25rem;
            }
        }

        .payment-options{
            @include flexbox(row, start, center);
            
            gap: 1rem;
            margin: 1rem 0;
            .payment-container{
                background-color: $surface-bg1;
                border: 0.1rem solid $border-color-default;
                border-radius: $border-radius-base;
                width: 7.5rem;
                min-height: 4rem;
                height: inherit;
                cursor: pointer;
            }
        }
    }
}

