/* component */
.rating{
    p{
      color: $text-tertiary-color;
      font-size: $sm-font-size;
      margin-top: .5rem;
    }
}
.star-rating {
    @include flexbox(row-reverse, space-around, start);
    gap: .15rem;
    font-size: 0.25rem;
}
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color: $secondary-color;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color: $warning;
    &::before{
      background-image: url(../assets/Star/filled.svg);
    }
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    &::before{
      background-image: url(../assets/Star/filled.svg);
    }
  }
