/* component */
.rating{
    p{
        color: $text-tertiary-color;
    }
}
.star-rating {
    @include flexbox(row-reverse, space-around, start);

    font-size: 1.25rem;
    width:5em;
}
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color: $secondary-color;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color: $warning;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }
