@import './variables';
@import './mixins';

.search-container {
    min-width: 15.625rem;
    display: flex;
    border-bottom: 0.125rem solid $search-border-color;
    padding: 0.3125rem 0.0625rem;

    input[type="text"] {
        width: 100%;
        padding-right: 1.875rem; // Add space for the icon
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 0.875rem;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: $search-hover-border-color;
            outline: none;
        }
    }

    @include respond-to(sm){
        display: none;
    }
}