.search-container {
    // position: relative;
    // width: 100%;
    min-width: 300px;
    display: flex;
    border-bottom: 2px solid $search-border-color;
    padding: 5px 1px;

    // Style the input
    input[type="text"] {
        width: 100%;
        // padding: $input-padding;
        padding-right: 30px; // Add space for the icon
        border: none;
        outline: none;
        background-color: transparent;
        // border-radius: 5px;
        font-size: 14px;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: $search-hover-border-color;
            outline: none;
        }
    }
}