.tab-links{
    gap: 1rem;
    border-bottom: 0.1rem solid $border-color-default;
    padding-bottom: 1rem;

    @include flexbox(row, start, center);
    overflow-x: scroll;
    text-wrap: nowrap;

    button{
        padding: .8rem 1rem;
    }

    ::-webkit-scrollbar{
        display: none;
    }
    scrollbar-width: none;
}

