
// 2. Base Typography
body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary-color;
  margin: 0;
  padding: 0;
}

// 3. Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.875rem;
  font-weight: $font-weight-black;

  @include respond-to(md){
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: $font-weight-bold;

  @include respond-to(md){
    font-size: 1rem;
  }
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: $font-weight-regular;
}

h5 {
  font-size: 1.15rem;
  font-weight: $font-weight-light;
}

h6, .h6 {
  font-size: 1rem;
  font-weight: $font-weight-bold;
}

// 4. Paragraphs
p {
  margin: 0 0 0;
  font-size: $base-font-size;
  line-height: $line-height-base;

  @include respond-to(md){
    font-size: 0.875rem;
  }
}

// 5. Links
a {
  color: $text-primary-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// 6. Utilities
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-end {
  text-align: end;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}
