// Color Variables
$primary-color: #17696A;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$red: #DB0000;
$text-light: #ffff;
$secondary-text-color: #787A80;
$text-primary-color: #1E212C;
$text-secondary-color: #424551;
$text-tertiary-color: #787A80;
$surface-bg1: #F4F5F6;
$button-hover-bg: #0000000b;

// Link
$link-hover: #0c0c0c;
$default-link-color: #464646;
$icon-link-hover-color: #17696a3f;

// Border radius
$border-radius-base: 4px;
$border-radius-full: 50%;
$border-color-default: #D7DADD;

// Typography Variables
$font-family: '';
$base-font-size: 16px;
$sm-font-size: 12px;
$xs-font-size: 10px;
$md-font-size: 20px;

// Spacing Variables
$spacing-unit: 1rem;

// Define Breakpoints
$breakpoint-small: 480px;   // Mobile
$breakpoint-medium: 768px;  // Tablet
$breakpoint-large: 1024px;  // Desktop
$breakpoint-extra-large: 1200px; // Large Screens

//Search Input Variables
$search-border-color: #0c0c0c;
$search-bg-color: #f5f5f5;
$search-hover-border-color: #007bff;
$icon-color: #007bff;
$input-padding: 10px;
$icon-size: 16px;
