// Color Variables
$primary-color: #17696A;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$bg-nuetral: #fff;
$red: #DB0000;
$text-light: #ffff;
$secondary-text-color: #74747B;
$text-primary-color: #1E212C;
$text-secondary-color: #424551;
$text-tertiary-color: #74747B;
$surface-bg1: #F4F5F6;
$button-hover-bg: #0000000b;
$warning: #F89828;
$primary-color-hover: #104b4c;


// Link
$default-link-color: #464646;
$link-hover: #0c0c0c;
$icon-link-hover-color: #17696a3f;

// Border
$border-radius-base: .25rem;
$border-radius-full: 50%;
$border-color-default: #D7DADD;

// Typography Variables
$font-primary:  "Lato", serif;
$font-secondary: "Raleway", serif;

$md-font-size: 1.25rem;
$base-font-size: 1rem;
$sm-font-size: 0.75rem;
$xs-font-size: 0.625rem;

$font-weight-light: 100;
$font-weight-extra-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Spacing Variables
$spacing-unit: 1rem;

$font-size-base: 1rem; // Base font size
$line-height-base: 1.5;

// Define the breakpoints for different screen sizes
$breakpoint-xs: 20rem;  // Extra small screens (phones)
$breakpoint-sm: 36rem;  // Small screens (tablets)
$breakpoint-md: 48rem;  // Medium screens (small desktops)
$breakpoint-lg: 62rem;  // Large screens (desktops)
$breakpoint-xl: 75rem; // Extra large screens (large desktops)

//Search Input Variables
$search-border-color: #0c0c0c;
$search-bg-color: #f5f5f5;
$search-hover-border-color: #007bff;
$icon-color: #007bff;
$input-padding: 0.625rem;
$icon-size: 1rem;
