@import './font';
@import './variables';
@import './mixins';
@import './typography';

@import './header';
@import './img-slider';
@import './search-input';
@import './rating';
@import './product-data';
@import './tab-links';
@import './subscribe-section';
@import './size-popup';

main{
    max-width: 77rem;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(sm){
        padding: 0 !important;
    }
    @include respond-to(xl){
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


section{
    .main-heading{
        margin-top: 10.5rem;
    }

    @include respond-to(md){
        padding: 0.5rem;

        .main-heading{
            margin-top: 4.5rem;
        }
    }
}

table{
    color: $text-secondary-color;
    border-collapse: collapse;
    width: 100%;
    font-family: $font-primary;
    
    tr{
        border-bottom: 0.1rem solid $border-color-default;
        font-size: $base-font-size;
    }

    td, th {
        text-align: left;
        padding: 0.75rem;
    }

    th{
        font-size: $sm-font-size;
        color: $text-tertiary-color;
    }
}


// Inputs
select {
    border: 0.1rem solid $border-color-default;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    min-width: 21.75rem;
    padding: .8rem 1rem;
    border-radius: $border-radius-base;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("../assets/Down-chevron.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;

    &:has(option:checked:first-child) {
        color: #3338;
        option {
          color: black;
          text-transform: none;
        }
    }

    @include respond-to(md){
        padding: 1rem;
        min-width: 10.75rem;

    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.input, .input-number{
    padding: .8rem 1rem;
    border-radius: $border-radius-base;
    border: 0.1rem solid $border-color-default;
    max-width: 6.25rem;
    @include respond-to(md){
        padding: .8rem 1rem;
    }
}

.input-number{
   width: 3rem;
}

.btn{
    @include flexbox(row, center, center);
    gap: .5rem;
    text-align: center;
    border-radius: $border-radius-base;
    border: none;
    cursor: pointer;
    padding: .6rem 1rem;
    font-size: $sm-font-size;

    &:hover{
        background-color: $button-hover-bg;
    }

    sup{
        font-size: .7rem;
        margin-top: -1rem;

    }
    @include respond-to(md){
        padding: .6rem 1rem;
        border: none;
        font-size: $sm-font-size;
    }
}

.primary-btn{
    background: $primary-color;
    color: $text-light;
    border: 0.125rem solid $primary-color !important; 
    min-width: 6.25rem;
    &:hover{
        background-color: $primary-color-hover;
    }
}

.secondary-btn, .active-tab-btn{
    background: transparent;
    border: 0.1rem solid $primary-color !important; 
    border-style: inset;
    color: $primary-color;
    font-size: $base-font-size; 
    @include respond-to(md){
        font-size: $sm-font-size;
    }
}

.ghost-btn{
    background: none;
    border: none;
    cursor: pointer;
    @include flexbox(row, end, center);
    gap: .5rem;
}

.tab-btn{
    background: transparent;
    color: $text-tertiary-color;
    font-size: $base-font-size; 

    @include respond-to(md){
        font-size: $sm-font-size;
    }
}

.icon-btn{
    background-color: white;
    border-radius: $border-radius-full;
    height: 3rem;
    width: 3rem;
}

.img-button{
    padding: 0;
    &:hover{
        border: 2px solid rgba($primary-color, .5);
        border-radius: 7px;
    }
}

.active-img-button{
    border: 2px solid $primary-color;
    border-radius: $border-radius-base;
}

.color-btn{
    padding: 0;
    background-color: none;
    background: none;
}

