@import './variables';
@import './header';
@import './search-input';
@import './font';
@import './img-slider';
@import './rating';
@import './product-data';
@import './tab-links';
@import './subscribe-section';
@import './typography';
@import './variables';
@import './mixins';

table{
    color: $text-secondary-color;
    border-collapse: collapse;
    width: 100%;
    
    tr{
        border-bottom: 0.125rem solid $border-color-default;
        font-size: $base-font-size;
    }

    td, th {
        text-align: left;
        padding: 0.75rem;
    }

    th{
        font-size: $sm-font-size;
        color: $text-tertiary-color;
    }
}

// Inputs
select {
    border: 0.125rem solid $border-color-default;
    box-shadow: none;
    background-color: transparent;
    // cursor: pointer;
    min-width: 18.75rem;
    padding: 1rem;
    border-radius: $border-radius-base;
}

.input{
    padding: 1rem;
    border-radius: $border-radius-base;
    border: 0.125rem solid $border-color-default;
}

.input-number{
    width: 6.25rem;
}

.btn{
    @include flexbox(row, center, center);
    gap: .2 5rem;

    text-align: center;
    border-radius: $border-radius-base;
    border: none;
    cursor: pointer;
    padding: 1rem;
    &:hover{
        background-color: $button-hover-bg;
    }

}

.primary-btn{
    background: $primary-color;
    color: $text-light;

    &:hover{
        background-color: none;
    }
}

.secondary-btn, .active-tab-btn{
    background: transparent;
    border: 0.125rem solid $primary-color !important; 
    color: $primary-color;
}

.ghost-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.tab-btn{
    background: transparent;
    color: $text-tertiary-color;
}

.icon-btn{
    background-color: white;
    border-radius: $border-radius-full;
    height: 3rem;
    width: 3rem;
}

.img-button{
    padding: 0;
}

.color-btn{
    padding: 0;
    background-color: none;
    background: none;
}

section{
    padding: 0 6rem;

    @include respond-to(md){
        padding: 0.5rem;
    }
}