header {
  padding: 0.5rem 6rem;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
header nav .left-section, header nav .right-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
header nav ul li {
  text-decoration: none;
}
header nav ul li .link {
  text-decoration: none;
  color: #464646;
}
header nav ul li .link:hover {
  color: #0c0c0c;
}
header nav ul li .active-link {
  color: #17696A;
  border-bottom: 0.125rem solid #17696A;
  padding: 0 0.5rem 1rem 0.5rem;
}
header nav ul li .active-link:hover {
  color: inherit;
}
@media (max-width: 48rem) {
  header nav ul {
    display: none;
  }
}
header nav .right-section .icon-links ul {
  gap: 2rem;
}
header nav .right-section .icon-links ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem;
  border-radius: 50%;
}
header nav .right-section .icon-links ul li a:hover {
  background-color: rgba(23, 105, 106, 0.2470588235);
}
@media (max-width: 62rem) {
  header nav .right-section .icon-links ul {
    display: none;
  }
}
header nav .right-section .icon-links button {
  display: none;
}
@media (max-width: 62rem) {
  header nav .right-section .icon-links button {
    display: block;
  }
}
@media (max-width: 48rem) {
  header {
    padding: 0.5rem;
  }
}

.search-container {
  min-width: 15.625rem;
  display: flex;
  border-bottom: 0.125rem solid #0c0c0c;
  padding: 0.3125rem 0.0625rem;
}
.search-container input[type=text] {
  width: 100%;
  padding-right: 1.875rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.875rem;
  transition: border-color 0.3s ease;
}
.search-container input[type=text]:focus {
  border-color: #007bff;
  outline: none;
}
@media (max-width: 36rem) {
  .search-container {
    display: none;
  }
}

.lato-thin {
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-weight: 900;
  font-style: italic;
}

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 6rem;
  padding-top: 2.5rem;
}
@media (max-width: 62rem) {
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.product-details .slider-navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.product-details .product-img {
  position: relative;
}
.product-details .product-img .slider-navs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
}
.product-details .product-img .slider-navs button {
  margin: 1.4rem;
}
.product-details .product-img img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.img-slider {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: start;
  width: 37.5rem;
  gap: 0.5rem;
}
@media (max-width: 48rem) {
  .img-slider {
    width: 27.5rem;
  }
}

.preview-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: start;
  gap: 1rem;
}
.preview-imgs img {
  border-radius: 0.25rem;
  width: 100%;
  max-width: 100px;
  height: auto;
}
.preview-imgs .video-thumbnail {
  position: relative;
}
.preview-imgs .video-thumbnail .overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.preview-imgs .video-thumbnail .overlay img {
  width: 100%;
  max-width: 1.25rem;
  height: auto;
}

/* component */
.rating p {
  color: #787A80;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: start;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #6c757d;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #F89828;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}

.product-meta-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1.5rem;
}
.product-meta-data .price-and-review .price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
}
.product-meta-data .price-and-review .price h3 {
  color: #DB0000;
}
.product-meta-data .price-and-review .price h3 span {
  text-decoration: line-through;
  color: #787A80;
  font-size: 1.25rem;
}
.product-meta-data .price-and-review .percentage-tag {
  background-color: #DB0000;
  padding: 0.125rem 0.25rem;
  color: white;
  margin-left: 1rem;
  border-radius: 0.25rem;
}
.product-meta-data .price-and-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}
.product-meta-data .product-color-varient .color-palette {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.product-meta-data .product-color-varient .color-palette .picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 1.625rem;
  height: 1.625rem;
  border: 0.125rem solid #D7DADD;
  border-radius: 50%;
}
.product-meta-data .product-color-varient .color-palette .picker .color {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
}
.product-meta-data .product-color-varient .color-palette .picker:nth-child(1) .color {
  background-color: #E0AEA2;
}
.product-meta-data .product-color-varient .color-palette .picker:nth-child(2) .color {
  background-color: #C0DDED;
}
.product-meta-data .product-color-varient .color-palette .picker:nth-child(3) .color {
  background-color: #FEDE41;
}
.product-meta-data .product-color-varient .color-palette .active-picker {
  border: 0.125rem solid #17696A;
}
.product-meta-data .product-color-varient .color-palette p {
  color: #787A80;
}
.product-meta-data .product-color-varient p {
  margin-bottom: 1rem;
}
.product-meta-data .select-row {
  width: 100%;
}
.product-meta-data .select-row .size-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.product-meta-data .select-row button {
  display: inline-flex;
  gap: 0.75rem;
}
.product-meta-data .select-row p {
  margin-bottom: 1rem;
}
.product-meta-data .action-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.product-meta-data .action-links button {
  flex: 1;
}
.product-meta-data .delivery-return-data-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 1rem;
}
.product-meta-data .delivery-return-data-section .delivery-section {
  border-bottom: 1px solid #D7DADD;
}
.product-meta-data .delivery-return-data-section .delivery-section h6 {
  margin-left: 1rem;
}
.product-meta-data .delivery-return-data-section .delivery-section p {
  margin: 0.75rem 0;
}
.product-meta-data .delivery-return-data-section .share-links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.product-meta-data .delivery-return-data-section .payment-options {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 1rem 0;
}
.product-meta-data .delivery-return-data-section .payment-options .payment-container {
  background-color: #F4F5F6;
  border: 0.125rem solid #D7DADD;
  border-radius: 0.25rem;
  width: 7.5rem;
  min-height: 4rem;
  height: inherit;
  cursor: pointer;
}

.tab-links {
  gap: 1rem;
  border-bottom: 1px solid #D7DADD;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

.subscirbe-section {
  padding: 1rem 96px;
  background-color: #F4F5F6;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
}

body {
  font-family: "Lato", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #1E212C;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", serif;
  margin: 0 0 0.5em;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.875rem;
  font-weight: 900;
}
@media (max-width: 48rem) {
  h1, .h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

h5 {
  font-size: 1.15rem;
  font-weight: 100;
}

h6 {
  font-size: 1rem;
  font-weight: 100;
}

p {
  margin: 0 0 0;
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 48rem) {
  p {
    font-size: 0.875rem;
  }
}

a {
  color: #1E212C;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover, a:focus {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-end {
  text-align: end;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

table {
  color: #424551;
  border-collapse: collapse;
  width: 100%;
}
table tr {
  border-bottom: 0.125rem solid #D7DADD;
  font-size: 1rem;
}
table td, table th {
  text-align: left;
  padding: 0.75rem;
}
table th {
  font-size: 0.75rem;
  color: #787A80;
}

select {
  border: 0.125rem solid #D7DADD;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  min-width: 18.75rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.input {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0.125rem solid #D7DADD;
}

.input-number {
  width: 6.25rem;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.2 5rem;
  text-align: center;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.0431372549);
}
.primary-btn {
  background: #17696A;
  color: white;
}
.primary-btn:hover {
  background-color: none;
}

.secondary-btn, .active-tab-btn {
  background: transparent;
  border: 0.125rem solid #17696A !important;
  color: #17696A;
}

.ghost-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.tab-btn {
  background: transparent;
  color: #787A80;
}

.icon-btn {
  background-color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.img-button {
  padding: 0;
}

.color-btn {
  padding: 0;
  background-color: none;
  background: none;
}

section {
  padding: 0 6rem;
}
@media (max-width: 48rem) {
  section {
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
